@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Karla:400,400i,700,700i|Lora:400,400i,700,700i&display=swap');

html{
  font-size:70%;
}

.book .book header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
    margin: 0EM;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    color: #fff;
    border-radius: 25px 25px 0px 0px;
    border-bottom: 0px;
    background: #63003c;
    font-size: 22pt;
    line-height: 50px;
    font-family: 'Lora';
    text-align:center;
}

#header .subtitle em {
  font-style: normal;
}

#header .subtitle {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 0.1em;
    color: #63003c;
    background: #fff;
    font-size: 15pt;
    font-style: normal;
    /*font-weight: bold;*/
    font-family: 'Lora';
    border-top: 0px;
    border-bottom: 0px;
    border-left: solid 1mm #63003c;
    border-right: solid 1mm #63003c;
    padding-top: 0.2em;
    border-radius: 0px 0px 0px 0px;
    text-align:center;
}


#header .author {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 0.5em;
    color: #63003c;
    background: #fff;
    font-size: 18pt;
    font-style: normal;
    font-weight: bold;
    font-family: 'Lora';
    border-top: 0px;
    border-left: solid 1mm #63003c;
    border-right: solid 1mm #63003c;
    border-bottom: solid 1mm #63003c;
    padding-top: 0.1em;
    border-radius: 0px 0px 25px 25px;
    text-align:center;
}

#header .author em {
  font-style: normal;
}

#header .date {
  font-style: normal;
  text-align: center;
}

/*.book.font-family-0 {
  font-family: 'Merriweather', Georgia, serif;
}*/

.book.font-family-1 {
  font-family: 'Karla', arial, sans-serif;
}

.book-body p.caption {
  color: #333333;
  background-color: #eeeeee;
  padding-left: 20px;
  font-size: 14pt;
  /*font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.book .book-body .page-wrapper .page-inner section.normal code, .book .book-body .page-wrapper .page-inner section.normal pre {
    font-family: 'Hack', 'Source Code Pro', 'Courier New', 'Courier', monospace;
}

h1, h2 {
  border-bottom: 2px solid #63003c;
}

h1, h2, h3, h4 {
  color: #63003c;
  font-family: 'Lora', arial, sans-serif;
}

a {
color: #63003c;
}

dt {
  color: #63003c;
}

dd {
  margin-bottom: 12px;
  margin-left: 20px;
  padding-left: 20px;
}

.book-body table {
  background: #eeeeee;
  border: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
  color: #333333;
  border: 1px;
  font-size: 11pt;
  height: 15px;
  padding: 0px 5px 0px 5px;
  cellpadding="0";
  cellspacing="0";
  text-shadow: none;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table td {
  color: #ddd;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table th {
  color: #222;
}

.book .book-body .page-wrapper .page-inner section.normal th {
  background: #b2c2d2;
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
  quotes: none;
  text-shadow: none;
  background: #b2c2d2;
  padding:  7px 20px 1px 20px;
  color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-left: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
    background: #eeeeee;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 5px 0px;
}

ol {
  -webkit-padding-start: 0px;
}

.book .book-summary {
  background-color: #63003c;
}

.book .book-summary ul.summary li a {
  padding: 5px 5px 5px 5px;
  color: #fff;
}

.book .book-summary ul.summary li.active>a {
  color: #e9c8e1; 
  font-weight: bold;
}

.book .book-summary ul.summary {
  left: 20px;
}

.book .book-summary ul.summary li a:hover {
  background-color: #e9c8e1;
  color: #63003c;
}

.book .book-summary .book-search {
  color: #fff;
}
.book .book-summary .book-search input,
.book .book-summary .book-search input:focus,
.book .book-summary .book-search input:hover {
  color: #63003c;
}

.book .book-header, .book .book-summary {
  font-family: 'Karla', sans-serif;
}

.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #536878;
    border-color: #536878;
    border-radius: 6px;
}

.btn {
    padding: 9px 14px;
    font-size: 19px;
    font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
    border-radius: 6px;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #536878;
    border-color: #536878;
    border-radius: 6px;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 9px 14px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px;
}


.book .book-summary ul.summary li a, .book .book-summary ul.summary li span{
 color:#fff;
}

/* KIM */

.book .book-summary ul.summary li span{
cursor:not-allowed;
opacity:.3;
filter:alpha(opacity=30)
}

.book .book-body .page-wrapper .page-inner section.normal a{
  color: #e9c8e1;
}

.book .book-header .btn {
    display: block;
    height: 50px;
    padding: 0 15px;
    border-bottom: none;
    color: #511919;
    text-transform: uppercase;
    line-height: 50px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    font-size: 14px;
}

.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn-success{
background-color:#e9c8e1;
border-color:#e9c8e1;
}

/*.section.level1 > p:first-of-type:first-letter { 
  font-family: 'Abril Fatface', serif;
}*/

.book .book-body .page-wrapper .page-inner section{
  margin-top:10px;
}
